Pillow==2.9.0
argparse==1.2.1
extras==0.0.3
junitxml==0.7
linecache2==1.0.0
pbr==1.8.0
pyserial==2.7
python-mimeparse==0.1.4
python-subunit==1.1.0
pyzmq==14.7.0
pyzmq-static==2.2
six==1.9.0
sst==0.2.4
testtools==1.8.0
traceback2==1.4.0
transitions==0.2.8
unittest2==1.1.0
wsgiref==0.1.2
